<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mentalK94.withus.mappers.CartMapper">

    <!-- 데이터 삽입 -->
    <insert id = "insertCartItem" useGeneratedKeys="true" keyProperty="id" parameterType="kr.co.mentalK94.withus.domains.Cart">
		INSERT INTO cart(grandTotalPrice)
					VALUES(#{grandTotalPrice})
	</insert>

    <!--데이터 조회 -->
    <select id="selectCartById" resultType="kr.co.mentalK94.withus.domains.Cart">
		SELECT * FROM cart
		WHERE id = #{id}
	</select>

    <!--데이터 수정 -->
    <update id="updateCartItem" parameterType="map">
		UPDATE cart SET
		grandTotalPrice = #{cart.grandTotalPrice}
		WHERE id = #{id}
	</update>

    <!-- 데이터 삭제 -->
    <delete id="deleteCartById">
		DELETE FROM cart
		WHERE id = #{id}
	</delete>

</mapper>