<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mentalK94.withus.mappers.ProductMapper">

	<!-- 데이터 삽입 -->
	<insert id = "insertProduct" useGeneratedKeys="true" keyProperty="id" parameterType="kr.co.mentalK94.withus.domains.Product">
		INSERT INTO product(name, category, price, manufacturer, stock, description, imageFileName, limitedQuantity)
					VALUES(#{name}, #{category}, #{price}, #{manufacturer}, #{stock}, #{description}, #{imageFileName}, #{limitedQuantity})
	</insert>

	<!--데이터 조회 -->
	<select id="selectProduct" resultType="kr.co.mentalK94.withus.domains.Product">
		SELECT * FROM product
		WHERE id = #{id}
	</select>

	<!--데이터 전체조회 -->
	<select id="selectProductList" resultType="kr.co.mentalK94.withus.domains.Product">
		SELECT * FROM product
	</select>

	<!--데이터 수정 -->
	<update id="updateProduct" parameterType="map">
		UPDATE product SET
		name = #{product.name},
		category = #{product.category},
		price = #{product.price},
		manufacturer = #{product.manufacturer},
		stock = #{product.stock},
		description = #{product.description},
		limitedQuantity = #{product.limitedQuantity},
		imageFileName = #{imageFileName}
		WHERE id = #{id}
	</update>

	<!--데이터 수정(평점 및 리뷰 수 수정) -->
	<update id="updateProductReview" parameterType="map">
		UPDATE product SET
		reviewCount = #{reviewCount},
		rating = #{rating}
		WHERE id = #{id}
	</update>

	<!-- 이미지 업로드 -->
	<update id="imageUpdate">
		UPDATE product SET
		imageFileName = #{imageFileName}
		WHERE id = #{id}
	</update>

	<!-- 데이터 삭제 -->
	<delete id="deleteProduct">
		DELETE FROM product
		WHERE id = #{id}
	</delete>
</mapper>