<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mentalK94.withus.mappers.PurchaseMapper">

    <!-- 데이터 삽입 -->
    <insert id = "insertPurchase" useGeneratedKeys="true" keyProperty="id" parameterType="kr.co.mentalK94.withus.domains.Purchase">
		INSERT INTO purchase(userId, totalPrice, usingPoint, payAmount, shippingAddress, shippingMemo, phone)
					VALUES(#{userId}, #{totalPrice}, #{usingPoint}, #{payAmount}, #{shippingAddress}, #{shippingMemo}, #{phone})
	</insert>

	<!-- 데이터 삽입 -->
	<insert id = "insertPurchaseItem" parameterType="map">
		INSERT INTO purchaseitem(productId, quantity, purchaseId)
					VALUES(#{item.productId}, #{item.quantity}, #{purchaseId})
	</insert>

	<!--데이터 상세조회(구매완료 후 정보확인) -->
	<select id="selectByPurchaseId" parameterType="map" resultType="kr.co.mentalK94.withus.domains.Purchase">
		SELECT * FROM purchase
		WHERE id = #{purchaseId}
		AND userId = #{userId}
	</select>

</mapper>