<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mentalK94.withus.mappers.ReviewMapper">

	<!-- 데이터 삽입 -->
	<insert id = "insertReview" useGeneratedKeys="true" keyProperty="id" parameterType="kr.co.mentalK94.withus.domains.Review">
		INSERT INTO review(productId, writer, rating, description, userId)
					VALUES(#{productId}, #{writer}, #{rating}, #{description}, #{userId})
	</insert>

	<!--데이터 조회(상품에 따른 리뷰 조회 - 최신순) -->
	<select id="selectReviewByProductId" resultType="kr.co.mentalK94.withus.domains.Review">
		SELECT * FROM review
		WHERE productId = #{productId}
	</select>

	<!-- 데이터 삭제(리뷰 삭제) -->
	<delete id="deleteReview">
		DELETE FROM review
		WHERE id = #{reviewId}
		AND userId = #{userId}
	</delete>

	<!--데이터 조회(상품에 따른 리뷰 갯수 조회) -->
	<select id="countReviewByProductId" resultType="int">
		SELECT COUNT(*) FROM review
		GROUP BY productId
		HAVING productId = #{productId}
	</select>

</mapper>